/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.page-container {
  width: 80%;
  margin: auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* Header */
.logo img {
  height: 70px;
  padding-right: 20px;
  border-right: 1px solid #929292;
}

.main-nav {
  margin-top: 30px;
}
.main-nav li {
  display: inline-block;
  list-style: none;
  margin-right: 15px;
}
.main-nav li a {
  text-transform: uppercase;
  color: #858585;
  text-decoration: none;
  font-size: 18px;
}
/* /Header */

/* Main */
.hero {
  height: 600px;
  margin: 30px 0;
  background-color: yellow;
}

.leadership {
  background-color: blue;
}
.leadership-title {
  height: 80px;
}

.col, .leadership-title {
  background-color: lightblue;
}
.row {
  padding: 20px 0;
}
.col {
  float: left;
}
.col-left, .col-right {
  width: calc(20% - 20px);
}
.col-center {
  width: 60%;
  margin: 0 20px;
}
/* /Main */

/* Footer */
footer {
  height: 80px;
  background-color: purple;
  margin-top: 15px;
}
/* /Footer */
